src/views/__pycache__/account_constructor.cpython-312.pyc
src/views/__pycache__/finance_page.cpython-312.pyc
src/views/__pycache__/home_page.cpython-312.pyc
src/views/__pycache__/settings_page.cpython-312.pyc
src/views/account_functions/__pycache__/accountIsTrue.cpython-312.pyc
src/views/account_functions/__pycache__/signup_page.cpython-312.pyc
src/views/settings/__pycache__/__init__.cpython-312.pyc
src/views/settings/__pycache__/config.cpython-312.pyc
